.items__nav-tabs {
    margin: 10px 0;
    padding: 0 0 0 150px;
    display: flex;
    gap: 55px;
    height: 70px;
}

.items__nav-item {
    list-style: none;
    margin-top: auto;
}

.items__nav-link {
    text-decoration: none;
    color: #5f5f5f;
    font-size: 20px;
    font-weight: bold;
}

.items__nav-link.active {
    color: #ff0000;
}

.items__nav-underline {
    border: none;
    border-bottom: 2px solid #5f5f5f;
}

.items__grid {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
}

.items__card {
    position: relative;
    text-decoration: none;
    color: #000000;
}

.items__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.items__sold-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    background: red;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: bold;
}

.items__name {
    margin: 7px 0 0 0;
    text-align: left;
    font-size: 20px;
}