.sell-page {
    padding: 30px 0 50px 0;
}

.sell-page__container {
    max-width: 700px;
    margin: 0 auto;
}

.sell-page__title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.sell-form__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sell-form__field {
    display: flex;
    flex-direction: column;
}

.sell-form__label {
    font-size: 20px;
    font-weight: bold;
}

.sell-form__image-frame {
    width: 100%;
    height: 150px;
    border: 1px dashed;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.sell-form__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sell-form__img--hidden {
    display: none;
}

.sell-form__image-label--hidden {
    display: none;
}

.sell-form__image-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 20px;
    color: #ff5555;
    font-weight: bold;
    border: 2px solid #ff5555;
    border-radius: 8px;
    cursor: pointer;
}

.sell-form__image-delete {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sell-form__image-delete--hidden {
    display: none;
}

.sell-form__image-input {
    display: none;
}

.form__error {
    min-height: 2rem;
    color: red;
}

.sell-page__section-container {
    margin-bottom: 25px;
}

.sell-page__section-title {
    margin: 0;
    font-size: 30px;
    color: #5f5f5f;
}

.sell-page__section-divider {
    width: 100%;
    border: none;
    border-bottom: 1.5px solid #5f5f5f;
}

.sell-form__group {
    margin: 25px 0 15px 0;
}

.sell-form__category-select {
    display: none;
}

.sell-form__category-label {
    margin: 15px 8px;
    display: inline-block;
    padding: 2px 15px;
    border: 2px solid #ff5555;
    border-radius: 20px;
    font-size: 15px;
    color: #ff5555;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sell-form__category-select:checked+.sell-form__category-label {
    background-color: #ff5555;
    color: #fff;
    border-color: #ff5555;
}

.sell-form__condition-select {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
}

.sell-form__input {
    width: 100%;
    padding: 10px;
}

.sell-form__description-input {
    width: 100%;
    height: 100px;
    line-height: 1.5;
    padding: 8px;
}

.sell-form__submit {
    margin: 40px 0;
    width: 100%;
    padding: 7px 0;
    background: #ff5555;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}