.item-detail {
    max-width: 1300px;
    margin: 0 auto;
}

.item-detail__container {
    padding: 100px 70px;
    display: flex;
    gap: 100px;
    align-items: flex-start;
}

.item-detail__image-wrapper {
    width: 550px;
}

.item-detail__img {
    width: 100%;
    height: 580px;
}

.item-detail__info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.item-detail__title {
    margin: 0;
    font-size: 40px;
}

.item-detail__brand {
    font-size: 17px;
}

.item-detail__price {
    font-size: 35px;
}

.item-detail__social {
    margin: 10px 30px 20px 30px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.item-detail__likes-wrapper,
.item-detail__comment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-detail__likes-button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.item-detail__likes-icon,
.item-detail__comment-icon {
    width: 30px;
}

.item-detail__likes-count,
.item-detail__comment-count {
    font-size: 15px;
}

.item-detail__purchase-button--sold {
    width: 500px;
    padding: 7px 0;
    display: inline-block;
    background: #aaaaaa;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.item-detail__purchase-button {
    width: 500px;
    padding: 7px 0;
    display: inline-block;
    background: #ff5555;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.item-detail__section-title {
    font-size: 25px;
}

.item-detail__description,
.item-detail__condition {
    font-size: 17px;
    margin: 25px 0;
    text-align: left;
}

.item-detail__categories {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.item-detail__label {
    margin-right: 40px;
    font-size: 17px;
    font-weight: bold;
}

.item-detail__category-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-detail__category-wrapper {
    display: inline-block;
    padding: 2px 20px;
    background: #d9d9d9;
    border-radius: 20px;
}

.item-detail__category {
    font-size: 15px;
}

.item-detail__condition-value {
    margin-left: 20px;
}

.item-detail__section-title--comment {
    font-size: 25px;
    color: #5f5f5f;
}

.item-detail__comments {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-detail__comment-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.item-detail__comment-user-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}

.item-detail__comment-user-img--noimg {
    background: #d9d9d9;
}

.item-detail__comment-user-name {
    font-size: 17px;
    font-weight: bold;
}

.item-detail__comment-body {
    margin-top: 10px;
    width: 500px;
    padding: 15px 10px;
    background: #d9d9d9;
    border-radius: 5px;
}

.item-detail__comment-form {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.item-detail__comment-label {
    font-size: 20px;
    font-weight: bold;
}

.item-detail__comment-input {
    padding: 10px;
    width: 500px;
    height: 200px;
    border: 2px solid #5f5f5f;
    line-height: 1.5;
    border-radius: 5px;
    box-sizing: border-box;
}

.form__error {
    min-height: 2rem;
    color: red;
}

.item-detail__comment-submit {
    margin: 40px 0;
    width: 500px;
    padding: 7px 0;
    background: #ff5555;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}