.login {
    padding: 50px 0;
}

.login__container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.login__title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.login__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login__field {
    display: flex;
    flex-direction: column;
}

.login__label {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.login__input {
    width: 600px;
    padding: 10px 20px;
    font-size: 20px;
}

.form__error {
    min-height: 2rem;
    color: red;
}

.login__action {
    margin: 25px 0;
}

.login__submit {
    width: 600px;
    padding: 7px 0;
    background: #ff5555;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.login__guide {
    text-align: center;
}