
.mypage__header {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mypage__avatar {
    display: flex;
    align-items: center;
    gap: 70px;
}

.mypage__avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.mypage__avatar-img--noimg {
    background: #d9d9d9;
}

.mypage__user-name {
    font-size: 25px;
    font-weight: bold;
}

.mypage__edit-link {
    padding: 5px 20px;
    color: #ff5555;
    font-weight: bold;
    border: 2px solid #ff5555;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

.mypage__tabs {
    margin: 10px 0;
    padding: 0 0 0 150px;
    display: flex;
    gap: 55px;
    height: 70px;
}

.mypage__tab-item {
    list-style: none;
    margin-top: auto;
}

.mypage__tab-link {
    text-decoration: none;
    color: #5f5f5f;
    font-size: 20px;
    font-weight: bold;
}

.mypage__tab-link.active {
    color: #ff0000;
}

.mypage__nav-underline {
    border: none;
    border-bottom: 2px solid #5f5f5f;
}

.mypage__items {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
}

.mypage__item-card {
    position: relative;
    text-decoration: none;
    position: relative;
    color: #000000;
}

.mypage__item-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.mypage__sold-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    background: red;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: bold;
}

.mypage__item-name {
    margin: 7px 0 0 0;
    text-align: left;
    font-size: 20px;
}